/* table  start*/
.table_tablecontainer {
  background-color: white;
  width: 1250px;
  height: 670px;
  border: 0.5px solid none;
  box-shadow: 2px 2px 4px black;
  margin-top: 100px;
}

.table-head1 .link-home {
  margin-top: -37px !important;
  padding-top: 25px !important;
  border: none;
  margin-left: 30px;
  font-weight: 650;
  color: #37304c;
  font-size: 16px;
}
.table-head1 .link-cus {
  margin-top: -42px !important;
  padding-top: 15px !important;
  margin-left: 90px;
  font-weight: 650;
}

.tableName {
  margin-bottom: 2rem !important;
}
.tableName h3 {
  margin-top: 10px !important;
  margin-left: 30px;
  font-weight: 650;
}

.tableName form {
  margin-left: 500px;
  margin-top: -35px;
}
/* data table */
.card {
  /* border-radius: 15px; */
  height: 540px;
  width: 1200px;
}

.table-responsive {
  /* border-radius: 20px 20px 0px 0px; */
}
.table {
  
  text-align: center;
}
.table th {
  background-color: #37304c;
  color: #fff;
  font-size: medium;
}
.table td {
  font-weight: 500;
  font-size: 14.5px;
}
.table tr{
  overflow: auto;
}
.table-row {
  max-width: 800px; /* sets the maximum width of the table row to 800 pixels */
  min-width: 400px; /* sets the minimum width of the table row to 400 pixels */
}
/* table  end*/

/* table search start*/
.search input {
  width: 440px;
  height: 42px;
  text-align: center;
  border-radius: 10px;
  border: 0.2px solid rgb(196, 195, 194);
  font-size: 17px;
  font-family: sans-serif, Arial;
}
.serach-icon {
  margin-left: 392.5px;
  margin-top: -30.6px;
  border: none;
}
.btn-add {
  margin-left: 950px;
  margin-top: -30px;
  border: none;
  /* dd */
  border-radius: 4px;
  transition: all 0.5s;
  cursor: pointer;
  /* display: inline-block; */
  font-weight: 500;
}

.btn-add:after {
  /* content: "»"; */
  position: absolute;
  opacity: 0;
  top: 132px;
  left: 70em;
  transition: 0.5s;
  color: #fff;
}

.btn-add:hover {
  padding-right: 24px;
  padding-left: 8px;
}

.btn-add:hover:after {
  opacity: 1;
  right: 10px;
}
/* table search end */

/* table search Add button start */

.btn-add input {
  border-radius: 10px;
  width: 170px;
  height: 40px;
  text-align: center;
  background-color: #ef5959;
  border: none;
  font-size: 16px bold;
  color: white;
  font-weight: 600;
}
.btn-iconicon {
  margin-left: 957px;
  margin-top: -35px;
}

/* table search Add button end */

/* table  delete button start */
.delete-btn {
  margin-left: -110px !important;
  width: 43px !important;
  height: 43px !important;
  border: "none";
}
/* table  delete button end */

/* table  edit button start */
.edit-btn {
  margin-top: 20px;
  width: 43px !important;
  height: 43px !important;
  border: "none";
}
/* table  edit button end */

/*table  pagination start */
.pagination-btnbtn {
  color: #37304c;
  margin-left: 85px;

}
.btn-next {
  color: #37304c;
  padding-left: 15px !important;
  padding-right: 15px !important;
  margin-left: 15px !important;
  border-radius: 10px !important;
  font-size: 40px bold !important;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border: none !important;
  width: 75px;
  height: 40px;
}
.btn-next:hover {
  background-color: #000000;
  color: #fff;
}

.btn-preview {
  color: #37304c;
  padding-left: 15px !important;
  padding-right: 15px !important;
  margin-left: 15px !important;
  border-radius: 10px !important;
  font-size: 40px bold !important;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border: none !important;
  width: 75px;
  height: 40px;
}
.btn-preview:hover {
  background-color: #000000;
  color: #fff;
}

/*table  pagination end */
@media(max-width:1250px){
  .table_tablecontainer{
    min-width: 1000px;
  }
}