/* table  start*/
.table_tablecontainer {
  background-color: white;
  width: 1250px;
  height: 685px;
  border: 0.5px solid none;
  box-shadow: 2px 2px 4px black;
  margin-top: 100px;
}

.table-head1 .link-home {
  margin-top: -37px !important;
  padding-top: 25px !important;
  border: none;
  margin-left: 30px;
  font-weight: 650;
  color: #37304c;
  font-size: 18px;
}
.table-head1 .link-cus {
  margin-top: -28px !important;
  margin-left: 90px;
  font-weight: 650;
  font-size: 18px;
}

.tableName {
  margin-bottom: 2rem !important;
  margin-left: 100px;
}
.tableName h3 {
  margin-top: 10px !important;
  margin-left: -70px;
  font-weight: 650;
}

.tableName form {
  margin-left: 500px;
  margin-top: -35px;
}
/* data table */
.card01 {
  position: relative;
  /* border-radius: 15px; */
  left: 20px;
  width: 1200px;
  height: 520px;
  overflow: auto;
}

.table-responsive {
  /* border-radius: 20px 20px 0px 0px; */
}
.table {
  height: 50px;
  text-align: center;
}
.table th {
  background-color: #37304c;
  color: #fff;
  font-size: medium;
}
.table td {
  font-weight: 500;
  font-size: 14.5px;
}
.table tr{
  overflow: auto;
}
.table-row {
  max-width: 800px; /* sets the maximum width of the table row to 800 pixels */
  min-width: 400px; /* sets the minimum width of the table row to 400 pixels */
}
/* table  end*/

/* table search start*/
.search input {
  width: 440px;
  height: 42px;
  text-align: center;
  border-radius: 10px;
  border: 0.2px solid rgb(196, 195, 194);
  font-size: 17px;
  font-family: sans-serif, Arial;
}
.serach-icon {
  margin-left: 392.5px;
  margin-top: -30.6px;
  border: none;
}
.btn-add {
  margin-left: 950px;
  margin-top: -30px;
  border: none;
  /* dd */
  border-radius: 4px;
  transition: all 0.5s;
  cursor: pointer;
  /* display: inline-block; */
  font-weight: 500;
}

/* table search end */

/* table search Add button start */

.btn-add input {
  border-radius: 10px;
  width: 170px;
  height: 40px;
  text-align: center;
  background-color: #ef5959;
  border: none;
  font-size: 16px bold;
  color: white;
  font-weight: 600;
}
.btn-iconicon {
  margin-left: 957px;
  margin-top: -35px;
}

/* table search Add button end */

/* table  delete button start */
.delete-btn {
  margin-left: -110px !important;
  width: 43px !important;
  height: 43px !important;
  border: "none";
}
/* table  delete button end */

/* table  edit button start */
.edit-btn {
  margin-top: 20px;
  width: 43px !important;
  height: 43px !important;
  border: "none";
}
/* table  edit button end */

/*table  pagination start */
.pagination-btnbtn {
  color: #37304c;
  margin-left: 85px;

}
.btn-next {
  color: #37304c;
  padding-left: 15px !important;
  padding-right: 15px !important;
  margin-left: 15px !important;
  border-radius: 10px !important;
  font-size: 40px bold !important;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border: none !important;
  width: 75px;
  height: 40px;
}
.btn-next:hover {
  background-color: #000000;
  color: #fff;
}

.btn-preview {
  color: #37304c;
  padding-left: 15px !important;
  padding-right: 15px !important;
  margin-left: 15px !important;
  border-radius: 10px !important;
  font-size: 40px bold !important;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border: none !important;
  width: 75px;
  height: 40px;
}
.btn-preview:hover {
  background-color: #000000;
  color: #fff;
}

/*table  pagination end */
/* media quiry start */
@media only screen and (max-width: 1366px) {
  .table_tablecontainer{
    position: relative;
    left: -10px;
    width: 1100px !important;
    height: 560px;
  }
  .card01 {
    /* border-radius: 15px; */
    position: absolute;
    width: 1050px;
    height: 420px;
    overflow: auto;
  }
  .search{
    position: relative;
    left: -150px;
  }
  .btn-add{
    position: relative;
    left: -150px;
  }
  .btn-iconicon{
    position: relative;
    left: -150px;
  }
}
