
.container-piechart{
  position: absolute;
  top: 150px;
  left: -80px;
  
}
.container-piechart h5{
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  padding-left: -10px;
  position: relative;
}
.container-piechart h4{
  padding-top: 5px;
  text-align: center;
}
.chart-container{

}
.dashboard-chart{
  display: flex;
  width: 100%;
  margin-top: -40em;
}

.recharts-surface{
  margin-top: -100px !important;
  width: 300px !important;
  margin-left: 50px;
  margin-bottom: 200px;
}

.call-type h6{
  margin-top: -500px !important;
  margin-left: 120px;
  font-weight: 700;
}

.chart-value1{
  margin-top: 10em !important;
  margin-left: 25px!important;
}
.chart-value2{
  margin-top: -2px!important;
  margin-left: 25px!important;
}

.chart-side-box1{
  width: 10px;
  height: 10px;
  border: 1px solid #0081B4;
  box-sizing: border-box;
  background-color: #0081B4;
  margin-top: -45px;
  margin-left: 10px;
}
.chart-side-box2{
  width: 10px;
  height: 10px;
  border: 1px solid #39B5E0;
  box-sizing: border-box;
  background-color: #39B5E0;
  margin-top: 10px;
  margin-left: 10px;
}
.agent_list{

        
}

/* media quiry */
/* @media(max-width:2100px){
  .dashboard-chart{
    position: absolute;
    left: 150px;
  }
 
} */