.container-header{
    margin-top: 470px;
    margin-left: 100px;
}

.pie-chart{
padding-top: 70px;
}

.call-ans h6 {
  margin-top: -455px !important;
  margin-left: 100px;
  width: 600px;
}

.chart-value1 {
  margin-top: 10em !important;
  margin-left: 25px !important;
}
.chart-value2 {
  margin-top: -2px !important;
  margin-left: 25px !important;
}

.chart-side-box1 {
  width: 10px;
  height: 10px;
  border: 1px solid #0081B4;
  box-sizing: border-box;
  background-color: #0081B4;
  margin-top: -45px;
  margin-left: 10px;
}
.chart-side-box2 {
  width: 10px;
  height: 10px;
  border: 1px solid #39B5E0;
  box-sizing: border-box;
  background-color: #39B5E0;
  margin-top: 10px;
  margin-left: 10px;
}
