body {
  font-family: "Roboto", sans-serif;
}
.container1 {
  background-color:rgb(253, 252, 252);
  margin-top: 70px !important;
  margin-left: 30px !important;
  height: 550px;
  box-shadow: 2px 2px 4px black;
  width: 900px !important;
}
.container1 .link01 {
  padding-top: 45px;
  padding-left: 40px;
  font-size: 18px;
  font-weight: 650;
  color: #37304c;
}
.container1 .link02 {
  margin-top: -29px;
  padding-left: 97px;
  font-size: 18px;
  font-weight: 650;
color: #37304c;
}
.container1 .link03 {
  margin-top: -27px;
  padding-left: 175px;
  font-weight: 650;
  color: #37304c;
  font-size: 18px;
}

.container1 h4 {
  padding-top: 20px;
  padding-left: 40px;
  font-size: 26px;
  font-weight: 650;
}

/* colomn start */
.grid-container {
  display: grid;
  grid-column-gap: 1em;
  align-items: center;
  width: 400px;
  padding-left: 40px;
  line-height: 40px;
  font-weight: 500;
}
.grid-container select {
  /* border: none; */
  height: 40px;
  border-radius: 10px;
  border: 0.5px solid rgb(219, 218, 216);
}
/* .grid-container select option{
  line-height: 1.6px;
} */

.grid-container input {
  border: 0.5px solid rgb(219, 218, 216);
  border-radius: 10px;
  text-align: center;
  font-weight: 500;
}
.grid-container-two {
  display: grid;
  grid-column-gap: 1em;
  align-items: center;
  width: 400px;
  margin-left: 450px;
  line-height: 40px;
  margin-top: -330px;
  border: none;
  font-weight: 500;
}

.grid-container-two select {
  /* border: none; */
  height: 40px;
  border-radius: 10px;
  border: 0.5px solid rgb(219, 218, 216);
}

.grid-container-two input {
  border: 0.5px solid rgb(219, 218, 216);
  border-radius: 10px;
  text-align: center;
  font-weight: 500;
}

.grid-container-two textarea {
  border: 0.5px solid rgb(219, 218, 216);
  border-radius: 10px;
  text-align: center;
}
/* end column */

.container-btn {
  margin-left: 620px !important;
  margin-top: 25px;
}
.container-btn .btn-save {
  margin-right: 30px;
  width: 100px;
  background-color: #ef5959;
  font-weight: 700;
  font-size: medium;
  height: 40px;
  color: white;
  border-radius: 15px;
}
.btn-save:hover {
  background-color: aliceblue;
  color: black;
}
.container-btn .btn-save::after {
  background-color: rgb(14, 13, 13);
  color: rgb(0, 0, 0);
}

.container-btn .cansel {
  width: 100px;
  height: 40px;
  background-color: #ef5959;
  font-weight: 700;
  font-size: medium;
  color: white;
  border-radius: 15px;
}
/* media quiry start */
@media only screen and (max-width: 1366px)  {
  .container1{
    position: relative;
    height: 500px;
  }
  .container1 .link01{
    position: relative;
    top: -29px;
  }
  .container1 .link02{
    position: relative;
    top: -29px;
  }
  .container1 .link03{
    position: relative;
    top: -29px;
  }
  .container1 h4{
    position: relative;
    top: -40px;
  }
  .grid-container{
    position: relative;
    top: -33px;
  }
  .grid-container-two{
    position: relative;
    top: -33px;
  }
.container-btn{
  position: relative;
  top: -35px;
}
}