/* table  start*/
.table-container {
  background-color: white;
  width: 1300px;
  border: 0.5px solid none;
  box-shadow: 0.5px 0.5px 4px black;
  height: 970px;
}
.table-head {
  width: 1300px;
  height: 710px;
  margin-left: 0px;
}

.Data_table {
  height: 300px;
  width: 450px;
}

.table-head .link01 {
  content: ">";
  margin-top: -37px !important;
  padding-top: 25px !important;
  border: none;
  margin-left: 50px;
  font-weight: 650;
  color: #5ca1e1;
}
.table-head .link02 {
  margin-top: -42px !important;
  padding-top: 15px !important;
  margin-left: 100px;
  font-weight: 650;
}

.table-name {
  margin-bottom: 2rem !important;
}
.table-name h3 {
  margin-top: 10px !important;
  margin-left: 50px;
  font-weight: 650;
}

.table-name form {
  margin-left: 500px;
  margin-top: -35px;
}

.card {
  /* border-radius: 15px; */
  box-shadow: 1px 1px 5px black;
}

.table-responsive {
height: 100vh;
  /* border-radius: 20px 20px 0px 0px; */
}
.table {

  border: #37304c;
  text-align: center;
  
}

div.table-responsive[data-table=left] tbody th, div.table-responsive[data-table=both] tbody th {
  border: 1px solid red;
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  z-index: 1;
}

table {
  border:1px solid yellow;
  position: relative;
  border-collapse: collapse;
}

.table thead {
  border:1px solid red;
  position: sticky;
}

.table th {
  background-color: #37304c;
  color: #fff;
  font-size: medium;
  /* position: sticky; */
}
.table td {
  font-weight: 500;
}

/* table  end*/

/* export btn*/
.btn_export {
  padding-left: 83em;
  margin-top: -2.2em;
}
.btn_export input{
  background-color:rgb(10, 211, 10);
  width: 100px;
  height: 40px;
  border-radius: 10px;
  border: none;
  color: #fff;
  font-weight: 500;
}
.btn_exporticon{
padding-left: 83.18em;
margin-top: -2.5em;
}
/* export btn end*/

/* table search start*/
.search input {
  width: 440px;
  height: 42px;
  text-align: center;
  border-radius: 10px;
  border: 0.2px solid rgb(196, 195, 194);
  font-size: 17px;
  font-family: sans-serif, Arial;
}
.serach-icon {
  margin-left: 372.5px;
  margin-top: -30.6px;
  border: none;
}
.btn {
  margin-left: 950px;
  margin-top: -55px;
  border: none;
  /* dd */
  border-radius: 4px;
  transition: all 0.5s;
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
}

.btn:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 132px;
  left: 70em;
  transition: 0.5s;
  color: #fff;
}

.btn:hover {
  padding-right: 24px;
  padding-left: 8px;
}

.btn:hover:after {
  opacity: 1;
  right: 10px;
}
/* table search end */

/* table search Add button start */

.btn input {
  border-radius: 10px;
  width: 170px;
  height: 40px;
  text-align: center;
  background-color: #ef5959;
  border: none;
  font-size: 16px bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: white;
}
.btn-icon {
  margin-left: 970px;
  margin-top: -50px;
}

/* table search Add button end */

/* table  delete button start */
.delete-btn {
  margin-left: -110px !important;
  width: 43px !important;
  height: 43px !important;
  border: "none";
}
/* table  delete button end */

/* table  edit button start */
.edit-btn {
  margin-top: 20px;
  width: 43px !important;
  height: 43px !important;
  border: "none";
}
/* table  edit button end */

/*table  pagination start */
.pagination-btn {
  color: antiquewhite;
  margin-left: 20px;
}
.btn-next {
  color: rgb(255, 255, 255);
  padding-left: 15px !important;
  padding-right: 15px !important;
  margin-left: 15px !important;
  border-radius: 10px !important;
  font-size: 40px bold !important;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border: none !important;
  width: 75px;
  height: 40px;
  background-color: #37304c;
}
.btn-next:hover {
  background-color: #000000;
  color: #fff;
}

.btn-preview {
  color: rgb(255, 255, 255);
  padding-left: 15px !important;
  padding-right: 15px !important;
  margin-left: 15px !important;
  border-radius: 10px !important;
  font-size: 40px bold !important;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border: none !important;
  width: 75px;
  height: 40px;
  background-color: #ef5959;
}
.btn-preview:hover {
  background-color: #000000;
  color: #fff;
}

/*table  pagination end */
