/* table  start*/
.table-container01 {
  background-color: white;
  width: 1250px;
  border: 0.5px solid none;
  box-shadow: 0.5px 0.5px 4px black;
  height: 680px;
  margin-right: -150px;
}
.table-head {
  margin-left: -140px;
}

.table-head .link_link {
  margin-top: -37px !important;
  padding-top: 25px !important;
  border: none;
  margin-left: 180px;
  font-weight: 700;
  font-size: 18px;
  color: #37304c;
}
.table-head .link_link02 {
  margin-top: -42px !important;
  padding-top: 12px !important;
  margin-left: 245px;
  font-weight: 700;
  font-size: 18px;
}

.table-name01 {
  margin-bottom: 2rem !important;
}
.table-name01 h3 {
  margin-top: 10px !important;
  margin-left: 178px;
  font-weight: 650;
}

.table-name01 form {
  margin-left: 500px;
  margin-top: -45px;
}

.card {
  /* border-radius: 15px; */
  box-shadow: 1px 1px 5px black;
  width: 1200px;
  left: 150px;
}

.table-responsive {
  height: 100vh;
  /* border-radius: 20px 20px 0px 0px; */
}
.table001 {
  border: #37304c;
  text-align: center;
}

table {
 
  position: relative;
  border-collapse: collapse;
}

.table001 thead {
}

.table001 th {
  background-color: #37304c;
  color: #fff;
  font-size: medium;

}
.table001 td {
  font-weight: 500;
}
.table001 tr{
  border: 1.5px solid #37304c;
}

/* table  end*/

/* export btn*/
.btn_export {
  padding-left: 89.5em !important;
  margin-top: -2.2em;
}
.btn_export input {
  background-color: rgb(10, 211, 10);
  width: 115px;
  height: 40px;
  border-radius: 10px;
  border: none;
  color: #fff;
  font-weight: 500;
}
.btn_exporticon {
  padding-left: 89.9em !important;
  margin-top: -2.5em;
}
/* export btn end*/

/* table search start*/
.search input {
  width: 440px;
  height: 42px;
  text-align: center;
  border-radius: 10px;
  border: 0.2px solid rgb(196, 195, 194);
  font-size: 17px;
  font-family: sans-serif, Arial;
}
.serach-icon {
  margin-left: 400.5px;
  margin-top: -31.6px;
  border: none;
}
.btn {
  margin-left: 950px;
  margin-top: -55px;
  border: none;
  /* dd */
  border-radius: 4px;
  transition: all 0.5s;
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
}

.btn:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 132px;
  left: 70em;
  transition: 0.5s;
  color: #fff;
}

.btn:hover {
  padding-right: 24px;
  padding-left: 8px;
}

.btn:hover:after {
  opacity: 1;
  right: 10px;
}
/* table search end */

/* table search Add button start */

.btn input {
  border-radius: 10px;
  width: 170px;
  height: 40px;
  text-align: center;
  background-color: #ef5959;
  border: none;
  font-size: 16px bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: white;
}
.btn-icon {
  margin-left: 970px;
  margin-top: -50px;
}

/* table search Add button end */

/* table  delete button start */
.delete-btn {
  margin-left: -110px !important;
  width: 43px !important;
  height: 43px !important;
  border: "none";
}
/* table  delete button end */

/* table  edit button start */
.edit-btn {
  margin-top: 20px;
  width: 43px !important;
  height: 43px !important;
  border: "none";
}
/* table  edit button end */

/*table  pagination start */
.pagination-btn {
  color: antiquewhite;
  margin-left: 20px;
}
.btn-next {
  color: rgb(255, 255, 255);
  padding-left: 15px !important;
  padding-right: 15px !important;
  margin-left: 15px !important;
  border-radius: 10px !important;
  font-size: 40px bold !important;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border: none !important;
  width: 75px;
  height: 40px;
  background-color: #37304c;
}
.btn-next:hover {
  background-color: #000000;
  color: #fff;
}

.btn-preview {
  color: rgb(255, 255, 255);
  padding-left: 15px !important;
  padding-right: 15px !important;
  margin-left: 15px !important;
  border-radius: 10px !important;
  font-size: 40px bold !important;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border: none !important;
  width: 75px;
  height: 40px;
  background-color: #ef5959;
}
.btn-preview:hover {
  background-color: #000000;
  color: #fff;
}

/*table  pagination end */

/* media quiry start */
@media only screen and (max-width: 1366px) {
  .table-container {
    position: relative;
    left: -50px;
    width: 1200px;
    height: 550px;
  }
  .table-head .link_link {
    position: relative;
    top: -20px !important;
    left: -70px;
  }
  .table-head .link_link02 {
    position: relative;
    margin-top: -62px !important;
    left: -70px;
  }
  .table-name01 h3 {
    position: relative;
    top: -5px !important;
    left: -70px;
   
  }
  .table001 tr{
    border: 1.5px solid #37304c;
  }
  .search {
    position: relative;
    top: -20px;
    height: 10px;
  }
  .card {
    width: 1200px;
    height: 450px;
    left:80px;
  }
  .btn_export {
    position: relative;
    left: 70px;
    top: 0px;
  }
  .btn_exporticon {
    position: relative;
    left: 70px;
    top: 0px;
  }
}
